.header {
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  height: max-content;
  padding: 10px;

  .link {
    margin-right: 40px;

    a {
      color: black;
      padding: 10px 30px;
      display: block;
      border-radius: 5px;
      transition: all 0.3s ease;
      &:hover {
        background-color: #3a8aa5;
      }
    }


    .activeLink {
      color: #fff;
      background-color: #1f4b58;
    }
  }
}